[submodule "libs/LibSL-small"]
	path = libs/LibSL-small
	url = https://github.com/JuDePom/LibSL-small.git
	branch = CurviSlice
[submodule "libs/SolverWrapper"]
	path = libs/SolverWrapper
	url = https://github.com/bedela-Epitech/SolverWrapper.git
	branch = master
